@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

table{
  margin: 30px;
  width: 75%;
  height: 200px;
  border-collapse: collapse;
}

 table, th, td{
    border: 2px solid white;
 }

 th, td{
    text-align: left;
 }


  tr:nth-child(even){
    background: rgb(218, 148, 199);
  }

  tr:nth-child(odd){
    background: rgb(197, 18, 132);
  }

 tr:first-child{
    background-color: rgb(126, 9, 107);
  }